<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head"></head>

<body>

    <nav th:replace="/fragments/nav :: nav-front"></nav>

    <div class="container-fluid mt-5">
        <div class="row">
            <div th:replace="/fragments/categories"></div>
            <div class="col"></div>
            <div class="col-6 text-center">

                <h3 class="display-4">Login</h3>

                <div class="container">
                    <span th:text="${error}"></span>
                    <form method="post" th:action="@{/login}">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" id="username" name="username" type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" id="password" name="password" type="password">
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>

                    <p>
                        Click <a th:href="@{/register}">here</a> to register.
                    </p>
        
                </form>

            </div>
            <div class="col"></div>
        </div>
    </div>
    </div>
    <div th:replace="/fragments/footer"></div>

</body>

</html>